/* Reset and Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* Container */
.container {
  width: 380px;
  padding: 25px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

/* Form Fields */
.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #4facfe;
  box-shadow: 0 0 8px rgba(79, 172, 254, 0.4);
  outline: none;
}

/* Error Messages */
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: none; /* JS se control hoga */
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  transform: scale(1.02);
}


#resultMessage{
    margin-top:20px;
    text-align: centre;
    font-weight: bold;
    font-size: 14px;
}